.ansible
.ansible_galaxy
.anyconnect
.autoenv_authorized
.bash_history
.CFUserTextEncoding
.docker-sync-global.yml
.DS_Store
.filezilla
.gemrc
.gitconfig
.gpg-agent-info
.guard_history
.ipython
.irb-history
.irbrc
.irb-save-history
.iterm2_shell_integration.bash
.lesshst
.meteorsession
.mkshrc
.nanorc
.node_repl_history
.npmrc
.profile
.psql_history
.PyCharm*
.pypirc
.python_history
.rediscli_history
.R
.Rhistory
.rnd
.RubyMine*
.subversion
.terraformrc
.Trash
.viminfo
.WebStorm*
.wget-hsts
.yarnrc
.zlogin
.zshrc

.ApacheDirectoryStudio/
.array_vpn/
.atom/
.bash_sessions/
.bundle/
.cache/
.cisco/
.composer/
.config/
.cups/
.docker/
.dropbox/
.eduke32/
.filezilla/
.gem/
.gnupg/
.httpie/
.idm/
.iterm2/
.lldb/
.local/
.meteor/
.nano/
.node-gyp/
.npm/
.nvm/
.oracle_jre_usage/
.pip/
.pylint.d/
.rvm/
.slap/
.ssh/
.subversion/
.teamocil/
.terraform.d/
.tldrc/
.tox/
.travis/
.vscode/
.yarn-cache/
.yarn2/

Applications
Applications (Parallels)
Box
Box Sync
Code
Desktop
Documents
Downloads
Dropbox
Google Drive
IBMERS
Library
Library2
Movies
Music
Pictures
Projects
Public
VirtualBox VMs
iCloud Drive (Archive)
keys
leonsp
sqllib
